{% extends 'main/main_base.html' %}

{% block content_main %}
    <h2 class="section-title">
        {{ _('Recent Videos') }}
    </h2>
    {% for event in events %}
        <article id="event-{{ event.id }}" class="post type-post status-publish format-standard hentry">
            <header class="entry-header">
                <h2 class="entry-title">
                    <a href="#">{{ event.title }}</a>
                </h2>
            </header>
            <div class="entry-summary">
                <p class="event-date">{{ event.start_time|js_date }}</p>
                <a href="#">
                    <img src="{{ event.placeholder_img.url }}" 
                    width="68" height="68" 
                    class="attachment-68x68 wp-post-image">
                </a>
                <p>{{ event.description }}
                    <a class="go" href="#">{{ _('See more') }}</a>
                </p>
            </div> 
        </article>
    {% endfor %}
{% endblock %}
